<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>{{title}}</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-button routerLink="/thing-list">
        Thing Overview
        <mat-icon>router</mat-icon> 
      </button>
      <button mat-button routerLink="/log-view">
        Log Viewer
        <mat-icon>sms_failed</mat-icon> 
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
